# Longer caching
<FilesMatch "\.(css|js)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
</FilesMatch>

<FilesMatch "\.(webp|jpg|jpeg|png|gif)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
</FilesMatch>